/* Basic properties*/
body {
	display: flex; 
	height: 100%;
}

html, body {
    margin:0;
    overflow: hidden;
    padding:0;
}

/*Black side properties*/

#black {
	background-color: rgba(45, 45, 45, 1);
	max-height: 100%;
	max-width: 50%;
	width: 50%;
}

#logo-wrapper {
	position: absolute;
	top: 1%;
	display: flex;
	width: 50%;
}

#logo-face {
	position: absolute;
	left: 92%;
}

#logo-inst {
	position: absolute;
	left: 1%;
}

#artist-title {
	position: absolute;
	top: 92%;
	left: 1%;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	color: rgba(255, 255, 255, 1);
}

#text-wrapper-black {
	position: absolute;
	display: flex;
	max-height: 25%;
	position: relative;
	max-width: 360px;
	top: 37%;
	left: 25%;
}

#text-left-black, #text-right-black {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}

#text-left-black {
	text-align: right;
	margin-right: 10px;
	padding-right: 30px; 
	overflow: auto;
	width: 50%;
	border-right: 1px solid white;
	transition-property: font-size;
  	transition-duration: 1s;
  	transition-timing-function: ease-out;
}

#text-right-black {
	text-align: left;
	margin-left: 10px;
	overflow: auto;
	width: 50%;
	transition-property: font-size;
  	transition-duration: 1s;
  	transition-timing-function: ease-in;
}

#lastname {
	position: absolute;
	top: 83%;
	left: 43%;
	color: white;
	font-size: 36px;
	width: 150px;
	height: 40px;
	font-family: 'Roboto', sans-serif;
	transform: rotate(-90deg);
	font-weight: 300;
}
/* White side properties*/
#white {
	background-color: white;
	max-width: 800px;
	max-height: auto;
	width: 50%;
	animation-duration: 3s;
	animation-name: slidein;
}

/*Setting up wrapper to make it flexible*/
#text-wrapper-white {
	display: flex;
	position: relative;
	top: 25%;
	left: 25%;
	flex-direction: column;
	max-width: 350px;
	max-height: 400px;
	overflow-wrap: break-word;
	overflow: auto;
	border-right: 1px solid black;
}

h2 {
	font-size: 48px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: rgba(85, 85, 85, 1);
	margin-bottom: 0px;
	transition-property: color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

/*Scaled paragraphs*/
#first-parag, #second-parag, #third-parag, #forth-parag, #fifth-parag, #sixth-parag {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: rgba(45, 45, 45, 1);
	margin-bottom: 0px;
	padding-right: 10px;
	transition-property: font-size;
  	transition-duration: 1s;
  	transition-timing-function: ease-in;
}

#name {
	position: relative;
	bottom: 50%;
	right: 47%;
	font-size: 36px;
	color: rgba(85, 85, 85, 1);
	transform: rotate(90deg);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

#photo-right {
	position: relative;
	left: 68%;
	bottom: -50px;
}

#button {
	float: right;
	position: relative;
	top: 5%;
  	margin: 0px 30px 80px 0px;
  	width: 100px;
  	height: 100px;
  	font: 13px/100px 'Roboto', sans-serif;
  	text-transform: uppercase;
    letter-spacing: 1px;
  	color: black;
  	text-align: center;
  	background: rgba(255, 255, 255, 0.6);
  	border-radius: 50%;
  	animation: shadow-pulse 3s infinite;
  	animation-delay: 2s;
}

#close-button {
	position: absolute;
	left: 90%;
	top: 5%;
  	margin: 0px 30px 80px 0px;
  	width: 100px;
  	height: 100px;
  	font: 20px/100px 'Roboto', sans-serif;
  	text-transform: uppercase;
    letter-spacing: 1px;
  	color: white;
  	text-align: center;
  	background: rgba(45, 45, 45, 1);
  	border-radius: 50%;
  	animation: shadow-white 3s infinite;
  	animation-delay: 2s;
  	z-index: 99999;
}

/* Gallery block*/
#gallery {
	position: absolute;
	display: none;
	max-width: 120%;
	width: 100%;
	height: 110%;
	max-height: 110%;
	background-color: rgba(25, 25, 25, 0.9);
	z-index: 99999;
}

#gallery-wrapper {
	width: 70%;
	transition: background-color;
	transition-timing-function: ease-in;
	transition-duration: 2s;
  	margin: auto;
  	border-radius: 12px;
  	background-color: rgba(45, 45, 45, 0.8);
  	position: relative;
  	height: 70%;
  	max-height: 100%;
  	overflow: hidden;
  	overflow-x: auto;

}


#gallery-header-wrapper {
	display: flex;
	justify-content: space-around;
	position: fixed;
	width: 70%;
	border-radius: 12px;
	height: auto;
	border-bottom: rgba(55, 55, 55, 1);
	background-color: rgba(45, 45, 45, 1);
	max-height: 20%;
	z-index: 99998;
}

h3 {
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: italic;
	bottom: 10%;
	position: relative;
	display: flex;
	color: white;
	transition: color;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}

.select-block {
	color: rgb(85, 85, 85);
}

#graphics-block {
	display: flex;
	position: relative;
	justify-content: space-between;
	width: 100%;
}

#art-block {
	display: none;
	justify-content: space-between;
}

figure {
	display: flex;
	margin: 23% 0 20% 10%;
}

#image:hover {
	box-shadow: 4px 9px 9px 1px rgba(0, 0, 0, 0.6);
	transform: scale(1.8, 1.8); 
}

/*Animation block*/
#gallery-wrapper:hover {
	background-color: rgba(90, 90, 90, 0.8);
}

h3:hover {
	border-bottom: 1px solid rgba(85, 85, 85, 1);
	color: rgb(85, 85, 85);
}

#first-parag:hover, #second-parag:hover, #third-parag:hover, #forth-parag:hover, #fifth-parag:hover, #sixth-parag:hover, #text-left-black:hover, #text-right-black:hover {
	font-size: 24px;
}

#text-wrapper-white, #text-wrapper-black {
	animation-duration: 3s;
	animation-name: slidein;
}

#lastname, #name {
	transition: 4s, 2s, 2s;
}

#lastname:hover {
	color: rgb(25, 25, 25);
}

#name:hover {
	color: rgb(175, 175, 175);
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    
}

@keyframes slidein {
	from {
		margin-left: 10%;
		width: 100%;
	}
	to {
		margin-left: 0%;
		width: 50%;
	}
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
     }
     25% {
          box-shadow: 0 0 0 10px rgba(40, 165, 75, 0.5);
     }
     50% {
     	box-shadow: 0 0 0 15px rgba(40, 127, 165, 0.4);
     }
     75% {
     	box-shadow: 0 0 0 0px rgba(165, 108, 40, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 255, 0);
     }
}

@keyframes shadow-white
{
     0% {
          box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}


